{% load static %}

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
    <link rel="stylesheet" href="{% static 'movies/main.css' %}">
    <link rel="stylesheet" href="{% static 'movies/profile.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Фильмец</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">Фильмцы</h1>
            </div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item active"><a class="navlist" href="{% url 'index' %}">Главная</a></li>
                    <li class="menu-list-item"><a class="navlist" href="{% url 'home' %}">Фильмы с TMBD</a></li>
                    <li class="menu-list-item"><a class="navlist" href="{% url 'leaderboard' %}">Доска почета</a></li>
                    {% if user.is_authenticated %}
                    <li class="menu-list-item"><a class="navlist" href="{% url 'add_movie' %}">Добавить фильм</a></li>
                    <li class="menu-list-item"><a class="navlist" href="{% url 'feedback' %}">Фидбэк</a></li>
                    <li class="menu-list-item"><a class="navlist" href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}
                    <li class="menu-list-item"><a class="navlist" href="{% url 'login' %}">Войти</a></li>
                    <li class="menu-list-item"><a class="navlist" href="{% url 'signup' %}">Зарегистрироваться</a></li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <li class="menu-list-item"><a class="navlist" href="{% url 'feedadm' %}">Список фидбэков</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="profile-container">
                {% if user.is_authenticated %}
                <img class="profile-picture" src="{%static "movies/profile.jpg" %}" alt="">
                <div class="profile-text-container">
                    <span class="profile-text">{{ user.username }}</span>
                </div>
                {% endif %}
                <div class="toggle">
                    <i class="fas fa-moon toggle-icon"></i>
                    <i class="fas fa-sun toggle-icon"></i>
                    <div class="toggle-ball"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <i class="left-menu-icon fas fa-search"></i>
        <i class="left-menu-icon fas fa-home"></i>
        <i class="left-menu-icon fas fa-users"></i>
        <i class="left-menu-icon fas fa-bookmark"></i>
        <i class="left-menu-icon fas fa-tv"></i>
        <i class="left-menu-icon fas fa-hourglass-start"></i>
        <i class="left-menu-icon fas fa-shopping-cart"></i>
    </div>
    {% block content %}{% endblock %}
    <script src="{% static 'movies/app.js' %}"></script>
</body>

</html>